:root {
  --primary: #d50000;
  --primary_hover: #af2c2b;
  --secondary: #111827;
  --secondary_hover: #007537;
  --text: #464646;
  --text_light: #b7b7b7;
  --accent: #212121;
  --light: #dddbd4;
  --border: #eaeaea;
  --background: #f4f1ea;

  --text_white: #fff;
}

body {
  height: 100% !important;
  font-family: "Montserrat", serif;
  background: #fff;
  padding: 0;
  margin: 0;
  font-size: 16px;
  font-weight: 400;
  letter-spacing: 0.6px;
}

/*=========== Comman ===========*/
a,
a:hover,
a:focus {
  text-decoration: none;
  outline: none;
  color: inherit;
  box-shadow: none;
  transition: all 0.5s ease-in-out 0s;
}
img {
  max-width: 100%;
}

.big_btn {
  padding: 10px 25px;
  color: #fff;
  display: inline-block;
}
.p_relative {
  position: relative;
}
.txt_color_yellow {
  color: #ffcc19;
}
.txt_color_white {
  color: #fff;
}
.txt_color_primary {
  color: var(--primary);
}
.txt_color_secondary {
  color: var(--secondary);
}
.text_light {
  color: var(--text_light);
}
.bg_color_light_gray {
  background-color: #fbfbfb;
}
.parallax_effect {
  background-attachment: fixed;
  background-size: cover;
}
.bg_animation1 {
  animation: bg-animate 10s linear infinite;
}

@keyframes bg-animate {
  from {
    background-position: 0 0;
  }
  to {
    background-position: 100% 0;
  }
}
.heading_box h2 {
  font-size: 30px;
  font-weight: 700;
  color: var(--secondary);
}
.two_column_title {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title_5 {
  font-size: 20px;
  font-weight: 600;
}
.ft_weight {
  font-weight: 500;
}
.border_btn {
  border: 1px solid var(--primary);
  color: var(--primary);
  font-size: 14px;
  padding: 7px 15px;
  border-radius: 8px;
  display: inline-block;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
  font-weight: 500;
}
.border_btn:hover {
  background-color: var(--primary);
  color: #fff;
}
.btn_comman{
  background-color: var(--primary);
  color: #fff;
}
.btn_comman:hover{
  background-color: var(--primary_hover);
  color: #fff;
}
.comman_tb_padding {
  padding-top: 50px;
  padding-bottom: 50px;
}
.comman_top {
  margin-top: 30px;
}
.comman_center_width {
  max-width: 800px;
  width: 100%;
  margin: 0 auto;
}
.hover_comman:hover {
  background-color: #111 !important;
  transition-duration: 0.3s;
}
/* Aylen button effect */
.button_effect_aylen {
  position: relative;
}
.button_effect_aylen {
  overflow: hidden;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
  position: relative;
  z-index: 1;
  background-color: var(--primary);
  border-radius: 6px;
}
.button_effect_aylen::before,
.button_effect_aylen::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  bottom: 100%;
  left: 0;
  z-index: -1;
  -webkit-transition: -webkit-transform 0.3s;
  transition: transform 0.3s;
  -webkit-transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
  transition-timing-function: cubic-bezier(0.75, 0, 0.125, 1);
}
.button_effect_aylen::before {
  background: var(--secondary);
}
.button_effect_aylen::after {
  background: var(--secondary_hover);
}
.button_effect_aylen:hover {
  color: #fff;
  border: none;
}
.button_effect_aylen:hover::before,
.button_effect_aylen:hover::after {
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}
.button_effect_aylen:hover::after {
  -webkit-transition-delay: 0.175s;
  transition-delay: 0.175s;
}

/*============== Navigation ==========*/
.nav_sec {
  padding: 10px 0;
  background: #171717;
  /*	background-color: #fff;*/
  position: relative;
  left: 0;
  top: 0;
  z-index: 2;
  transition-duration: 0.4s;
  width: 100%;
  border-bottom: none;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
}
.nav_inner {
  display: flex;
}
.logo_area {
  width: 25%;
  display: flex;
  align-items: center;
}
.nav_area {
  width: 75%;
  display: flex;
  align-items: center;
}
.logo_box img {
  width: 150px;
}
.nav_inner {
  position: relative;
}
.nav_sec .stellarnav > ul > li {
  padding: 0px;
}
.nav_sec .stellarnav > ul > li > a {
  padding: 10px 12px;
  text-transform: capitalize;
  letter-spacing: 0.5px;
  position: relative;
  font-weight: 400;
  font-size: 16px;
  color: #fff;
}
.nav_sec .stellarnav > ul > li:last-child > a {
  /*	padding-right: 0;*/
}
.nav_sec .stellarnav > ul > li > a {
}
/*.nav_sec .stellarnav > ul > li > a:before
{
	content: "";
    position: absolute;
    right: 0;
    top: 18px;
    height: 14px;
    width: 1px;
    background: #102399;
}
.nav_sec .stellarnav > ul > li:last-child a:before
{
	display: none;
}*/
.nav_sec .stellarnav > ul > li.active > a {
  color: #fe5000;
}
.nav_sec .stellarnav ul {
  text-align: right;
  padding: 0px 0 0 0;
}
.nav_sec .stellarnav.dark {
  background: rgba(0, 0, 0, 0);
}
.nav_sec .stellarnav.dark ul ul {
  text-align: left;
}

.nav_sec .navbar-brand {
  padding: 0 0;
}
.nav_sec .navbar-collapse {
  justify-content: flex-end;
}
.nav_sec.navbar .navbar-nav li a {
  padding: 13px 20px;
  text-transform: uppercase;
  font-size: 17px;
  color: #fff;
  position: relative;
  letter-spacing: 0.7px;
}
.nav_sec.navbar .navbar-nav li:last-child a {
  padding-right: 0;
}
.nav_sec.navbar .navbar-nav li.active a {
  color: #ffd400;
}
.nav_sec.navbar.stickyhead .navbar-collapse {
}
.nav_sec.navbar .navbar-nav > li > a:before {
  content: "";
  position: absolute;
  right: 0;
  top: 18px;
  height: 14px;
  width: 1px;
  background: #fff;
}
.nav_sec.navbar .navbar-nav li:last-child a:before {
  display: none;
}
.nav_sec .stellarnav ul li ul li a {
  color: #fff;
  padding: 10px 15px;
}

.nav_sec.navbar .navbar-nav li ul li a {
  /*    padding: 8px 15px;*/
  font-size: 14px;
}

.nav_sec .stellarnav > ul > li.header_lgn_btn a {
  background-color: #ef4444;
  border-radius: 6px;
  padding: 8px 15px;
}
.nav_sec .stellarnav > ul > li > a img {
  width: 18px;
}
.mobile_logo {
  width: 160px;
  position: absolute;
  top: 11px;
  left: 15px;
}
.mobile_logo img {
  max-width: 150px;
}
.nav_sec .stellarnav > ul > li .dropdown .dropdown-toggle
{
  color: #fff;
  padding: 10px 12px;
}
.nav_sec .stellarnav > ul > li .dropdown .dropdown-toggle img
{
  width: 17px;
}
.nav_sec .stellarnav > ul > li .dropdown .dropdown-menu{
  min-width: 130px;
  top: 25px;
  font-size: 16px;
  color: #000;
  font-weight: 400;
}
.nav_sec .stellarnav > ul > li .dropdown .dropdown-menu div
{
  padding: 5px 10px;
  cursor: pointer;
}

.nav_sec .stellarnav > ul > li .dropdown .dropdown-menu div:hover{
  color: var(--primary);
}
.nav_sec .stellarnav > ul > li .dropdown .mob_lang_selector
{
  color: var(--primary);
  margin-top: 20px;
}
.nav_sec .stellarnav > ul > li .dropdown .dropdown-menu div {
  padding: 10px;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.nav_sec .stellarnav > ul > li .dropdown .dropdown-menu div:hover {
  background: #f0f0f0;
}

.nav_sec .stellarnav > ul > li .dropdown .dropdown-menu .active:hover,
.nav_sec .stellarnav > ul > li .dropdown .dropdown-menu .active {
  background: var(--primary);
  color: #fff !important;
}
/*  */
.slider-radio-group {
  background-color: white;
  border-radius: 8px;
  padding: 5px;
  display: inline-flex;
  gap: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.slider-radio-group .slider-btn {
  padding: 10px 20px;
  border-radius: 8px;
  color: #333;
  cursor: pointer;
  transition: all 0.3s ease;
  font-size: 14px;
  position: relative;
  z-index: 1;
  background-color: transparent;
}

.slider-radio-group .btn-check:checked+.slider-btn {
  background-color: #d50000;
  color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.slider-radio-group .btn-check:checked+.slider-btn i {
  color: white;
}

.slider-radio-group .slider-btn i {
  margin-right: 5px;
  color: #d50000;
}

.see-more-link {
  font-size: 18px;
  color: red;
}

.see-more-link:hover {
  color: #c30010;
}
/*==== other dev =========*/

/* Hero Section */
.hero_form_sec {
  background-color: var(--primary);
  padding: 90px 0;
}
.hero_form_sec .main_form_title {
  font-size: 36px;
  font-weight: 700;
}
.hero_form_area {
  background-color: #fff;
  padding: 15px;
  border-radius: 10px;
  margin: 0 auto;
  margin-top: 30px;
}

.home_page_form_width {
  max-width: 800px;
}
.home_page_form_nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.home_page_form_nav ul li {
  width: 100%;
  margin: 0 3px;
  display: flex;
}
.home_page_form_nav ul li a {
  width: 100%;
  border-radius: 8px;
  color: #374151;
  font-weight: 500;
  font-size: 16px;
  padding: 12px 8px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home_page_form_nav ul li a.active {
  background-color: var(--primary);
  color: var(--text_white);
}
.home_page_form_nav ul li a img {
  width: 17px;
  margin-right: 4px;
}
.home_page_form_nav ul li a.active img {
  filter: brightness(0) invert(1);
}
.hero_form_sec.for_blue_bg_only{
  background-color: #007bff ;
}
.for_blue_bg_only .home_page_form_nav ul li a.active{
  background-color: #007bff ;
}
/*==== form tab style ====*/
.home_page_tab_area_only {
}
.home_page_tab_area_only ul {
}
.home_page_tab_area_only ul li a {
  background-color: #f3f4f6;
}
.comman_form .form-control::placeholder {
  color: #262626;
  opacity: 1; /* Firefox */
}

.comman_form .form-control::-ms-input-placeholder {
  /* Edge 12 -18 */
  color: #262626;
}
.comman_form .form-control {
  height: 40px;
}
.comman_form .form-label
{
  font-weight: 500;
}
.comman_form .mandatory
{
  color: var(--primary);
}
.inp_relative {
  position: relative;
}
.inp_relative .inp_icon {
  position: absolute;
  left: 10px;
  top: 7px;
}
.inp_relative .inp_icon img {
  width: 18px;
}
.inp_relative .form-control {
  padding-left: 35px !important;
}
.comman_form .custom-select {
  appearance: none; /* Hides default arrow */
  -webkit-appearance: none;
  -moz-appearance: none;
  background-image: url('data:image/svg+xml;utf8,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" fill="gray"><path d="M7 10l5 5 5-5z"/></svg>'); /* Custom arrow */
  background-repeat: no-repeat;
  background-position: right 10px center;
  background-size: 20px;
  cursor: pointer;
}

/* Optgroup styles */
.comman_form .custom-select optgroup {
  font-weight: bold;
  color: #333;
  padding: 5px 0;
}

/* Option styles */
.comman_form .custom-select {
  /*  font-size: 14px;*/
  /*  padding: 8px;*/
}

/*=== listing_area_sec ====*/
.properties_sec {
  background-color: #f9fafb;
}
.blog_box_main {
  margin-bottom: 30px;
}
.blog_box_main a{
  width: 100%;
}
.blog_box_h_inner {
  -webkit-box-shadow: 0 4px 14px 0 rgb(0 0 0 / 11%);
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 11%);
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  transition: all 0.5s ease-in-out 0s;
  height: 100%;
}
.blog_box_h_inner .blog_txt_area {
  padding: 15px;
}
.upcomimg_events_img_box img {
  width: 100%;
  height: 230px;
  object-fit: cover;
}
.blog_img_box {
  padding: 0;
  height: auto;
  overflow: hidden;
  /* display: inline-block; */
  position: relative;
}
.upcomimg_events_img_box {
  position: relative;
  height: 100%;
  width: 100%;
  background-repeat: no-repeat;
  -webkit-transition: all 0.8s;
  -moz-transition: all 0.8s;
  -o-transition: all 0.8s;
  transition: all 0.8s;
}
.blog_box_h_inner:hover .upcomimg_events_img_box,
.blog_box_h_inner:focus .upcomimg_events_img_box {
  -ms-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -webkit-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.blog_img_box .pro_price_over {
  position: absolute;
  background: #ccc;
  z-index: 1;
  top: 15px;
  right: 15px;
  background-color: var(--primary);
  border-radius: 10px;
  padding: 6px 10px;
}
.pro_price_over h4 {
  font-size: 15px;
  color: var(--text_white);
  margin: 0 0 0px 0;
  font-weight: 500;
}
.pro_price_over p {
  font-size: 12px;
  color: var(--text_white);
  margin: 0 0 0px 0;
  font-weight: 500;
}
.blog_txt_area h5 {
  font-size: 15px;
  color: #4b5563;
  padding: 0;
  margin: 0 0 12px 0;
  font-weight: 400;
}
.blog_txt_area h5 span {
  margin-right: 10px;
}
.blog_txt_area h5 img {
  width: 18px;
}
.blog_txt_area h3 {
  font-size: 18px;
  color: var(--secondary);
  font-weight: 600;
  padding: 0;
  margin: 0 0 17px 0;
}
.blog_txt_area h4 a {
  color: #000000;
}
.blog_txt_area ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}
.blog_txt_area ul li {
  margin-right: 25px;
  font-size: 16px;
  color: #4b5563;
  display: inline-flex;
}
.blog_txt_area ul li img {
  width: 18px;
  margin-right: 7px;
}
.blog_page .blog_box_h_inner {
  /*margin-bottom: 30px;*/
}
.blog_details_img {
  margin-bottom: 20px;
}
/*.blog_box_h_inner:hover .blog_txt_area h4 a,*/
.blog_box_h_inner:hover .blog_txt_area .blog_btn {
  color: #f98e78;
}
.right_arrow_more {
  color: var(--primary);
  font-weight: 500;
}
.property_result_title {
  background-color: #fff;
  padding: 25px 15px;
  border-radius: 6px;
}
.property_result_title h2 {
  font-size: 20px;
  font-weight: 600;
  color: var(--secondary);
}
/*=== full property listing ===*/
.full_property_listing_repeat {
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  padding: 20px;
  border-radius: 10px;
  margin: 0 0 20px 0;
}
.full_property_listing_repeat h3 {
  font-size: 18px;
  color: var(--secondary);
  font-weight: 600;
  padding: 0;
  margin: 0 0 17px 0;
}
.pro_status_btn {
  background-color: #dcfce7;
  color: #166534;
  display: inline-block;
  padding: 3px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}
.pro_status_expired {
  background-color: #fee3e3;
  color: #991b1b;
  display: inline-block;
  padding: 3px 15px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}
.full_property_listing_repeat .pro_status_btn,
.full_property_listing_repeat .pro_status_expired {
  margin-left: 15px;
}
.full_property_listing_repeat .list_full_property li {
  display: inline-block;
  margin-right: 20px;
}
.list_call_action {
  border-top: 1px solid #eee;
  padding-top: 20px;
}
.list_call_action .btn_list_action {
  padding: 9px 18px;
  font-size: 16px;
  border-radius: 6px;
  display: inline-block;
  border: 1px solid transparent;
  margin-right: 10px;
}
.btn_list_action.btn_to_call {
  background-color: var(--primary);
  color: #fff;
}
.btn_list_action.btn_to_mail {
  border-color: #007bff;
  color: #007bff;
}
.btn_list_action.btn_to_share {
  border-color: #374151;
  color: #374151;
}
/*== website_feature_sec ==*/
.website_feature_sec {
  padding: 60px 0 30px 0;
}
.cus_stories_bx {
  margin-bottom: 30px;
}
.cus_stories {
  padding: 20px 20px;
  border-radius: 10px;
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  height: 100%;
  transition: all 0.5s ease-in-out 0s;
}
.cus_stories:hover {
  box-shadow: 0 20px 25px -5px rgb(0 0 0 / 0.1),
    0 8px 10px -6px rgb(0 0 0 / 0.1);
}
.cus_stories .cus_pro_img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  overflow: hidden;
  background-color: #fee2e2;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out 0s;
}
.cus_stories:hover .cus_pro_img {
  background-color: #f9dada;
}
.cus_stories .cus_pro_img img {
  width: 30px;
}
.cus_stories h3 {
  font-size: 20px;
  margin: 20px 0 10px 0;
  font-weight: 600;
  color: var(--secondary);
}
.cus_stories p {
  font-size: 16px;
  color: #4b5563;
  line-height: 1.3;
}

/*======= footer_sec =======*/
.footer_sec {
  padding: 45px 0 30px 0;
  background-color: #171717;
}
.footer_box {
  /* margin-bottom: 20px;*/
}
.footer_box .ft_heading {
  font-size: 18px;
  color: #fff;
  margin: 0 0 20px 0;
  font-weight: 600;
}

.ft_contact .ft_logo {
  margin-bottom: 0px;
}
.ft_contact .ft_logo img {
  max-width: 160px;
}
.ft_contact p {
  font-size: 16px;
  color: #fff;
  margin: 0 0 10px 0;
  letter-spacing: 0px;
}
.ft_contact p i {
  color: var(--primary);
}
.ft_contact p a:hover {
  color: var(--primary);
}

.ft_links ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.ft_links ul li {
  display: block;
  margin: 0 0 7px 0;
}
.ft_links ul li a {
  font-size: 16px;
  color: #fff;
  transition-duration: 0.3s;
}
.ft_links ul li a:hover {
  color: var(--primary);
  transition-duration: 0.3s;
  /*padding-left: 3px;*/
}

.footer_payment_icon {
  list-style: none;
  padding: 0;
  margin: 0;
  text-align: right;
}
.footer_payment_icon li {
  display: inline-block;
  padding: 1px 2px;
}
.footer_box .header_social_area {
  justify-content: flex-start;
}
/*============ footer_copyright_sec =========*/

.footer_social ul {
  list-style: none;
  padding: 0;
  margin: 20px 0 0 0;
}
.footer_social ul li {
  display: inline-block;
  padding: 0;
  margin-right: 15px;
}
.footer_social ul li a {
  color: #fff;
  font-size: 14px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition-duration: 0.3s;
}
.footer_social ul li a:hover {
  transition-duration: 0.3s;
}
/*============ footer_copyright_sec =========*/
.footer_copyright_sec {
  padding: 25px 0;
  background-color: #171717;
  border-top: 1px solid #333131;
}
.footer_copy p {
  font-size: 15px;
  color: #fff;
  padding: 0;
  margin: 0px 0 0px 0;
  letter-spacing: 0.8px;
}
.footer_condition {
  /*text-align: right;*/
}
.footer_condition p {
  font-size: 13px;
  color: #fff;
  padding: 6px 0 0 0;
  margin: 0px 0 0px 0;
  letter-spacing: 0.8px;
  text-transform: uppercase;
}
.footer_condition p a {
  color: #fff;
}
/*====== top_to_scroll ======*/
#scrollup {
  width: 50px;
  height: 50px;
  display: none;
  background-color: #ff1848;
  position: fixed;
  bottom: 50px;
  right: 50px;
  text-align: center;
  line-height: 45px;
  color: #fff;
  font-size: 30px;
  border-radius: 6px;
  z-index: 9;
}
/*==== property view page ======*/
.property_view_sec {
  background-color: #f9fafb;
}
.profile_img {
  width: 70px;
  height: 70px;
  border-radius: 100%;
  overflow: hidden;
}
.profile_img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.profile_img_bx h5 {
  font-size: 16px;
  font-weight: 600;
}
.profile_img_bx p {
  font-size: 14px;
  font-weight: 500;
}
.profile_info p {
  font-size: 14px;
  font-weight: 400;
  margin: 0 0 5px 0;
}
.post_ad_box {
  padding: 20px;
  border-radius: 10px;
  margin-bottom: 20px;
}
.post_ad_box .btn_light {
  padding: 8px 15px;
  background-color: #fff;
  font-weight: 500;
}
.white_widget_card {
  border-radius: 10px;
  padding: 20px;
  background: white;
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.05);
  border-color: transparent;
}
.ads_vidget_box {
  border: 1px solid #e9e1e1;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  transition: all 0.5s ease-in-out 0s;
}
.ads_vidget_box:hover {
  box-shadow: 0 1px 2px 0 rgb(0 0 0 / 0.2);
}
.ads_vidget_box.expired_property
{
  background-color: #fbfbfc;
  cursor: pointer;
}
.ads_vidget_box .property_thumb_img {
}
.ads_vidget_box .property_thumb_img img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 8px;
}
.ads_vidget_box h5 {
  font-size: 16px;
  margin: 0 0 0px 0;
  line-height: 1.3;
}
.ads_vidget_box p {
  font-size: 14px;
}
.badge-active {
  background-color: #28a745;
  color: white;
}
.badge-expired {
  background-color: #dc3545;
  color: white;
}
.post_ad_only {
  background-color: #dc3545;
  color: white;
}
.post_ad_only .btn_light {
  color: var(--primary);
}
.post_request_only {
  background-color: #007bff;
  color: white;
}
.post_request_only .btn_light {
  color: #007bff;
}
.ads_vidget_box .icon-trash {
  color: #6c757d;
  cursor: pointer;
  font-size: 22px;
}
.ads_vidget_box .icon-trash:hover {
  color: var(--primary);
}
.subscription_exp_modal .modal-dialog {
  max-width: 450px; /* Set modal width */
}
.subscription_exp h3
{
  font-size: 20px;
  font-weight: 600;
}
.subscription_exp p
{
  font-size: 16px;
  font-weight: 400;
  color: #4b5563;
}
.subs_exp_btn_group
{
  flex-wrap: wrap;
}
.subs_exp_btn_group a{
  width: 100%;
  display: block;
  padding: 8px 10px;
  text-align: center;
  margin: 0 0 15px 0;
  border-radius: 6px;
  color: #444;
}
.subs_exp_btn_group .subs_btn_renew
{
  background-color: var(--primary);
  color: #fff;
}
.subs_exp_btn_group .subs_btn_renew:hover
{
  background-color: var(--primary_hover);
}
.subs_exp_btn_group .subs_btn_delete
{
  background-color: #f3f4f6;
}
.subs_exp_btn_group .subs_btn_delete:hover
{
  background-color: #e1e3e7;
}
.subs_exp_btn_group .subs_btn_cancel:hover
{
  color: var(--primary);
}

/* multistep */
.multistep_area {
}
.multistep_area .wizard_header {
}
.wizard {
  margin: 20px auto;
  background: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
.nav-tabs {
  border-bottom: none;
}
.nav-tabs .nav-link.active {
  background-color: #007bff;
  color: white;
  border-radius: 50%;
}
.round-tab {
  display: inline-block;
  width: 50px;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border-radius: 50%;
  background: #f8f9fa;
  font-size: 20px;
  color: #007bff;
}
.nav-tabs .nav-link {
  border: none;
}
.bs-calltoaction {
  padding: 20px;
  border-radius: 5px;
}
.quote-box {
  padding: 20px;
  border-left: 5px solid #007bff;
  background: #f8f9fa;
  border-radius: 5px;
}

.wizard_header .nav.nav-pills
{
    position: relative;
    z-index: 1;
}
.wizard_header .nav.nav-pills:before
{
    content: "";
    width: 82%;
    height: 1px;
    background: #ccc;
    position: absolute;
    top: 25px;
    z-index: -1;
    left: 0;
    right: 0;
    margin: 0 auto;
}
.wizard_header .wizard_icon {
  width: 45px;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  border-radius: 50%;
  margin: 0 auto;
}
.wizard_header .wizard_name
{
  
}
.nav-link.tab-pills {
  background-color: transparent; /* Default step color */
  color: black;
  transition: background-color 0.3s ease;
  font-size: 14px;
  font-weight: 500;
  padding: 0;
}
.wizard_header .nav-link.tab-pills .wizard_icon {
    background-color: #e8e8e8; /* Default step color */
    transition: background-color 0.3s ease;
  }
.nav-link.tab-pills.active {
  background-color: transparent !important;
  color: #444;
}
.wizard_header .nav-link.tab-pills.active .wizard_icon {
  background-color: var(--primary) !important; /* Active step color */
  color: white;
}
.nav-link.tab-pills.completed {
  background-color: transparent !important; /* Completed step color */
}
.nav-link.tab-pills.completed .wizard_icon{
    background-color: green !important; /* Completed step color */
    color: white;
  }
.multistep_area .tab_title
{
    font-size: 18px;
    font-weight: 500;
}
.multistep_area #back_button {
  color: #444; /* Bootstrap primary color */
  text-decoration: none;
}

/* Disabled button color */
.multistep_area #back_button:disabled {
  color: #3b3c3e  !important; /* Bootstrap secondary color */
  pointer-events: none; /* Prevent clicks */
  opacity: 0.5; /* Lighten the color */
}
.wizard_footer
{

}
.form_vidget
{
  border: 1px solid #e4dede;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 30px;
}
/* card radio button */
.radio_card_style {
  cursor: pointer;
  border: 1px solid transparent;
  transition: all 0.3s ease-in-out;
  width: 100%;
 
}

.radio_card_style input {
  display: none;
}

.radio_card_style:hover {
  /* border-color: #007bff; */
}

.radio_card_style input:checked + .card {
  border-color: var(--primary);
  background-color: #fef2f2;
}
.radio_card_style .card-title
{
    font-size: 16px;
    margin: 0;
    font-weight: 500;
}
.radio_card_style input:checked + .card .card-title
{
  color: var(--primary);
}
.radio_card_style .card
{

}
.checkbox_list .checkbox label
{
  font-size: 14px;
  color: #374151;
  font-weight: 500;
  display: flex;
}
.checkbox_list .checkbox input[type="checkbox"]
{
  margin-right: 7px;
}


.upload__box {
  padding: 0px;
}
.upload__inputfile,
.upload__inputfilePDF
{
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}
.upload__btn {
  display: block;
  font-weight: 600;
  color: #444;
  text-align: center;
  min-width: 116px;
  padding: 5px;
  transition: all 0.3s ease;
  cursor: pointer;
  border: 1px dashed;
  background-color: #fff;
  border-color: #4045ba;
  border-radius: 10px;
  line-height: 26px;
  font-size: 14px;
  padding: 30px 10px;
}
.upload__btn:hover {
  /* background-color: unset; */
  /* color: #4045ba; */
  transition: all 0.3s ease;
}
.upload__btn-box {
  margin-bottom: 10px;
}
.upload__img-wrap {
  display: flex;
  flex-wrap: wrap;
  margin: 0 -10px;
}
.upload__img-box {
  width: 200px;
  padding: 0 10px;
  margin-bottom: 12px;
}
.upload__img-close {
  width: 24px;
  height: 24px;
  border-radius: 50%;
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 10px;
  right: 10px;
  text-align: center;
  line-height: 24px;
  z-index: 1;
  cursor: pointer;
}
.upload__img-close:after {
  content: "✖";
  font-size: 14px;
  color: white;
}

.img-bg {
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  position: relative;
  padding-bottom: 100%;
}
.upload__box h4{
  font-size: 14px;
  color: var(--primary);
}
.upload__box h5,
.upload__box p
{
  font-size: 12px;
  font-weight: 400;
}
/*  */
.upload__file-box {
  display: flex;
  align-items: center;
  margin-top: 10px;
  background: #f1f1f1;
  padding: 5px 10px;
  border-radius: 5px;
  position: relative;
}
.file-name {
  flex-grow: 1;
}
.upload__file-close {
  background: red;
  color: white;
  border: none;
  cursor: pointer;
  padding: 2px 5px;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#features_img_slider .owl-nav .owl-prev, #features_img_slider .owl-nav .owl-next {
    position: absolute;
    background-position: center;
}
#features_img_slider .owl-nav .owl-prev {
    left: 20px;
}
#features_img_slider .owl-nav .owl-next {
    right: 20px;
}
#features_img_slider .owl-nav .owl-prev, #features_img_slider .owl-nav .owl-next {
    font-size: 31px !important;
    top: 38%;
    height: 46px;
    width: 46px;
    padding: 0;
    background-color: #3862e8 !important;
    color: #ffffff;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
}
.slider_name
{
  margin-top: 30px;
  margin-bottom: 20px;
  justify-content: space-between;
}
.slider_name .slider_name_left h3
{
  font-size: 20px;
  font-weight: 600;
}
.slider_name .slider_name_right
{
  text-align: right;
}
.slider_name .slider_name_right h4
{
  font-size: 20px;
  font-weight: 600;
}
.slider_name .slider_name_right
{

}
.feature_summry_bx
{
  background-color: #f9f4f4;
  padding: 15px;
  text-align: center;
}
.feature_summry_bx h4{
  font-size: 18px;
  font-weight: 600;
  color: #262626;
  margin: 15px 0 3px 0;
}
.list_style_feat
{
  list-style: none;
  padding: 0;
  margin: 0;
}
.list_style_feat li{
  position: relative;
  padding-left: 15px;
}
.list_style_feat li:before{
  content: "\f111";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  top: 5px;
  color: var(--primary);
  font-size: 10px;
}
/* pricing plan */
.pricing-plan {
  padding: 15px;
  border-radius: 7px;
  border: 1px solid #d5d0d0;
  cursor: pointer;
  margin-bottom: 20px;
}
.pricing-plan:hover
{
  border-color: var(--primary);
}
.pricing-plan h2 {
  margin: 0;
  color: #333;
  font-size: 18px;
  font-weight: 500;
  margin: 0 0 5px 0;
}
.price {
  font-size: 20px;
  font-weight: 600;
  color: #000;
  margin: 0px 0 20px 0;
}
.price sub
{
  font-weight: 400;
}
.list_features_price {
  list-style: none;
  padding: 0;
}
.list_features_price li {
  padding: 0 0 0 19px;
  position: relative;
  font-size: 15px;
  margin: 0 0 7px 0;
  color: #262626;
}
.list_features_price li::before {
  content: "\f05d";
  font-family: 'FontAwesome';
  position: absolute;
  left: 0;
  top: 2px;
  font-size: 14px;
  color: green;
  margin-right: 8px;
}
.bank_card_btn
{
  display: block;
  text-align: center;
  background-color: #fdf1f1;
  border: 1px solid var(--primary);
  padding: 10px 10px;
  border-radius: 6px;
}
.bank_card_btn:hover
{
  background-color: var(--primary_hover);
  color: #fff;
}
/* login page */
.login_form_area {
  max-width: 500px;
  width: 100%;
  margin: 0 auto;
  -webkit-box-shadow: 0 4px 14px 0 rgb(0 0 0 / 11%);
  box-shadow: 0 4px 14px 0 rgb(0 0 0 / 11%);
  padding: 15px;
  border-radius: 10px;
}
.login_form_area .lgn_title
{
  font-size: 20px;
  text-align: center;
  font-weight: 600;
  margin: 0 0 5px 0;
}
.login_form_area p
{
  font-size: 14px;
  text-align: center;
  font-weight: 500;
  margin: 0;
}

.field-icon {
  position: absolute;
  z-index: 2;
  right: 3px;
  top: 1px;
  color: rgba(96, 94, 92, 1);
  cursor: pointer;
  padding: 8px;
  font-size: 14px;
  font-weight: 500;
}