#sticky-wrap.stickyhead {
	position: fixed;
	top: 0;
	right:0;
	left:0;
/*	background: #fff;*/
	
	/*box-shadow: 0 0 10px rgb(236, 223, 223);*/
	z-index: 99;
	/*border-bottom: 1px solid #111;*/
	transition-duration: 0.4s;
	padding:7px 0;
}
	#sticky-wrap.stickyhead.nav_sec.navbar .navbar-nav li a
	{
		
		transition-duration: 0.4s;
	}
	



@media (max-width: 992px){

}
@media (max-width: 767px){
	.hide_mob{
		display: none !important;
	}
	
}
@media (min-width: 767px){
	.mobile_logo{
		display: none;
	}
	.hide_desk{
		display: none !important;
	}
	
}



@media only screen and (min-width:320px) and (max-width:991px) {
	/*===== comman ===*/
	.container {
		padding-left: 15px;
		padding-right: 15px;
		max-width: 100%;
	}
	.md_res_mar_top_30
	{
		margin-top:30px;
	}
	.nav_sec
	{
		position: relative;
		/*background: #4c4949 !important;*/
		top: 0;
		padding: 12px 0px;
	}
	.inner_page_banner_sec
	{
		min-height: 210px;
	}
	.nav_sec .stellarnav > ul > li .dropdown .dropdown-toggle {
		font-size: 14px;
	}
	
	.bg_animation1 {
		animation: bg-animate 4s linear infinite
	}
	
	.footer_box {
		margin-bottom: 20px;
	}
	.hero_form_sec {
		padding: 50px 0;
	}
}
@media only screen and (min-width:320px) and (max-width:767px) {
	
/*====== Comman ====== */
	
	.logo_area
	{
		display: flex;
    	align-items: center;
	}
	.stellarnav.dark a
	{
		color: #fff !important;
		border-bottom: none !important;
	}
	/*.nav_sec .stellarnav > ul > li > a {
		color: #fff !important;
	}*/
	.stellarnav.mobile.dark ul {
		background: #232323;
	}
	.nav_sec .stellarnav > ul > li > a:before
	{
		display: none;
	}
	.stellarnav.dark a.dd-toggle .icon-plus:before,
	.stellarnav.dark a.dd-toggle .icon-plus:after
	{
		border-color: #fff;
	}
	.stellarnav.dark .icon-close:before,
	.stellarnav.dark .icon-close:after
	{
		border-color: #fff;
	}
	.stellarnav.dark .menu-toggle span.bars span {
		background: #fff;
	}
	.stellarnav.mobile.right > ul
	{
		max-width: 100%;
	}
	.sm_res_mar_top_30
	{
		margin-top:30px;
	}
	.nav_sec .stellarnav.dark
	{
		text-align: right;
	}
	.stellarnav.mobile.right > ul
	{
		text-align:left;
	}
	.stellarnav .dd-toggle
	{
		position: absolute !important;
	}
	.nav_sec .stellarnav > ul > li.header_lgn_btn a {
		padding: 11px 15px;
	}
	#language_li{
		border-bottom: 1px solid #4b4b4b;
        margin-bottom: 17px;
	}
	.nav_sec .stellarnav > ul > li {
		padding: 5px 10px;
	}
	.stellarnav .icon-close:after,
	.stellarnav .icon-close:before
	{
		width: 16px;
	}
	.lang_toggle img {
		filter: invert(49%) sepia(4%) saturate(1%) hue-rotate(173deg) brightness(88%) contrast(77%)
	}
	/* language mobile custamize */
	.nav_sec .stellarnav > ul > li .dropdown .dropdown-menu{
		display: flex !important;
		min-width: 100%;
		position: relative;
		top: 0;
		justify-content: space-between;
		background-color: transparent;
	}
	.nav_sec .stellarnav > ul > li .dropdown .dropdown-menu div{
		border-radius: 4px;
		color: #fff;
		width: 100%;
        justify-content: center;
	}
	.nav_sec .stellarnav > ul > li .dropdown .dropdown-toggle
	{
		color: #9ca3af;
	}
	.nav_sec .stellarnav > ul > li .dropdown .dropdown-toggle::after
	{
		display: none;
	}
/*=== Top Header ====*/
	.nav_sec
	{
		
	}
	
	.nav_sec .navbar-brand
	{
		display: block;
	}
	.logo_box img {
		max-width: 150px;
	}
	
	.ads_vidget_box
	{
		flex-wrap: wrap;
	}
	.ads_vidget_box .ads_vidget_trash
	{
		margin-top: 10px;
	}
	.comman_heading h2
	
	{
		font-size: 30px;
	}
	
	.hero_form_sec .main_form_title {
		font-size: 26px;
	}
	.heading_box h2
	{
		font-size: 26px;
	}
	
	
	.footer_copy p
	{
		text-align: center;
	}
	.footer_payment_icon
	{
		text-align: center;
		margin-top: 10px;
	}
	/*=== footer ===*/
	#scrollup
	{
		right: 16px;
	}
	.footer_box {
		margin-bottom: 30px;
	}
	

}


@media only screen and (min-width:320px) and (max-width:575px) {
	
	.logo_area
	{
		width: 40%;
	}
	.nav_area
	{
		width: 60%;
	}
	
	.stellarnav .menu-toggle
	{
		padding: 5px;
	}
	.logo_box img {
		/* max-width: 114px; */
	}
	.wizard_header .nav.nav-pills:before
	{
		top: 19px;
	}
	.wizard_header .wizard_name {
		font-size: 12px;
	}
	.wizard_header .wizard_icon {
		width: 35px;
		height: 35px;
		font-size: 15px;
	}
	.property_result_title.two_column_title
	{
		flex-wrap: wrap;
		justify-content: center;
	}
	.property_result_title .property_select
	{
		width: 100%;
		margin-top: 15px;
	}
	
	
}

@media only screen and (min-width:480px) and (max-width:767px) {
	

}

@media only screen and (min-width:768px) and (max-width:991px) {
	/*========= top_header =========*/
	.logo_area
	{
		width: 27%;
	}
	.nav_area {
		width: 73%;
	}
	.nav_sec .stellarnav ul
	{
		padding: 0 0 0 0;
	}
	
	.nav_sec .stellarnav > ul > li > a
	{
		padding: 15px 10px;
		letter-spacing: 0;
		    font-size: 14px;
	}
	
	.logo_box img {
		max-width: 200px;
	}
	.heading_box h2
	{
		font-size: 31px;
	}
	
	
	.footer_box .ft_heading
	{
		font-size: 19px;
	}
	
}

/********************@media only screen and (min-width:1024px) and (max-width:1200px)********************/


@media (min-width:992px) and (max-width:1199px) {
	
	.nav_sec.navbar .navbar-nav li a:before
	{
		top: 9px;
    	height: 13px;
	}
	.logo_box img {
		max-width: 200px;
	}
	.banner_txt_box h1
	{
		font-size: 35px;
	}
	.heading_box h2
	{
		font-size: 33px;
	}
	.ft_contact p,
	.ft_links ul li a
	{
		font-size: 14px;
	}
	
}

	
/********************@media only screen and (min-width:1201px)********************/

	

/********************@media only screen and (min-width:1201px)********************/
